@keyframes hov-animation {
	from {
		border-bottom: solid 0;
	}

	to {
		border-bottom: solid 1px;
	}
}

@keyframes dw-btn-ani {
	from {
		background-color: white;
		border: solid 2px blue;

	}
	to {
		background-color: rgb(0, 62, 170);
		border: solid 2px rgb(0, 62, 170);
	}
}

@keyframes dw-btn-st-ani {
	from{color :blue;}
	to{color: white;}
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

.nav-header {
	box-sizing: border-box;
	width: 100%;
	/* background-color: red; */
	height: 92px;
}

.nav-header:hover {
	border-bottom: solid 1px #eeeeee;
}

.nav-header-container {
	padding-left: 92px;
	padding-right: 92px;
	/* background-color: blue; */
	position: relative;
	width: auto;
	height: 92px;
	/* border: solid 2px; */
}

.nav-header-container div {
	padding: 22px 2% 22px 2%;
	height: 47px;
	display: inline-block;	
}

.nav-has-content:hover {
	animation-name: hov-animation;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0;
	animation-fill-mode: forwards;
}

.push-left {
	float: left;
}

.push-right {
	float: right;
}

a.download-button {
	margin: 24px 24px;
	height: 24px;
	width: 142px;
	padding: 8px 16px 8px 16px;
	border: solid 2px blue;
	position: relative;
}

a.download-button strong.download-button-text {
	color: blue;
	font-weight: 500;
	text-decoration: none;
	text-decoration-line: none;
	position: absolute;
	top: 10px;
 }

a.download-button:hover {
	animation-name: dw-btn-ani;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-delay: 0;
	animation-fill-mode: both;
}


a.download-button:hover strong.download-button-text {
	animation-name: dw-btn-st-ani;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-delay: 0;
	animation-fill-mode: both;
}

.mzlla-icon {
	width: 70px; 
	height: auto;
	background-image: url("Mozilla_logo.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 2%;
}

.nav-cont {
	height: 0px;
	width: 100%;
	position: absolute;
	top: 92px;
	background-color: white;
	overflow: hidden;
}

.main-cont {
	position: relative;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: auto;
	background-color: #b7f2ff;
}

.nav-cont p {
	margin: 0 0 0 0;
}

.nav-cont-elem-fat-sm {
	position: relative;
	width: 400px;
	height: 200px;
	border-radius: 5px;
	border: solid 2px gray;
}


